IB Support/Simulator Devices
*.xcuserstate
Debugger/
SearchScopes.xcsclist
IDENamedTabStateContexts.plist
IDEFindNavigatorScopes.plist
IDEEditorInteractivityHistory
IDEDebugOverrides.plist
TestReport.xcstate
Previews/
Capabilities/
XcodeCloud/
