<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>dev.p3l6.alfred.git</string>
	<key>category</key>
	<string>Committed</string>
	<key>connections</key>
	<dict>
		<key>003126C2-154A-4586-A86C-167C99F0AC4F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A2C396F8-AACD-4819-99D4-B7B3F72D9ACA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>5571486C-853C-4265-BE05-D49BA4BE9B28</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>337999AF-B0C1-484B-B1DA-42062BD8D7DD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F306BF25-A990-4F61-AB8E-6F1BC2805F13</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4D9B4FCC-5787-468A-BC8F-8B860409B222</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>659E5211-191B-450F-B829-44F4F40346C1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5E3BA7EF-85F1-444C-8551-2FC551B310DE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>64617334-1031-4256-9E88-4E615E23A39D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>64617334-1031-4256-9E88-4E615E23A39D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>98D8843E-A993-4EB3-9E3F-283EBBAC1123</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>659E5211-191B-450F-B829-44F4F40346C1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>337999AF-B0C1-484B-B1DA-42062BD8D7DD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>68CA3A10-7C7D-4B94-89B4-7478EE64F4E0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ADF5C12D-136F-42F6-841F-217B506C92B6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>FC6854DD-E54B-4DDA-946E-1EE8F0CE6549</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4D9B4FCC-5787-468A-BC8F-8B860409B222</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>0A19EEA7-4710-46C9-A41C-AA79AE703821</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F82F84CB-3C48-4F7A-A977-69C8E13DE10E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>896B66F8-22E8-4C75-9683-D3901F2A83C2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5E3BA7EF-85F1-444C-8551-2FC551B310DE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>98D8843E-A993-4EB3-9E3F-283EBBAC1123</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>003126C2-154A-4586-A86C-167C99F0AC4F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ADF5C12D-136F-42F6-841F-217B506C92B6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>896B66F8-22E8-4C75-9683-D3901F2A83C2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B820C6F3-6B46-469A-B12F-EBC445821E7D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>68CA3A10-7C7D-4B94-89B4-7478EE64F4E0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>EB9563AC-39D0-4772-B158-B43DD33F351B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FFED43EC-EC8E-451F-9C64-62BF8D97663F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F306BF25-A990-4F61-AB8E-6F1BC2805F13</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>98D8843E-A993-4EB3-9E3F-283EBBAC1123</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F82F84CB-3C48-4F7A-A977-69C8E13DE10E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>98D8843E-A993-4EB3-9E3F-283EBBAC1123</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Paul Landers</string>
	<key>description</key>
	<string>Shortcut for git actions</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Git</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>cd /Users/paul/var/MacOS

echo '{"items": ['

git for-each-ref refs/heads --format='{ "uid":"%(refname)", "title": "%(refname:lstrip=2)", "arg": "%(refname:lstrip=2)", "autocomplete": "%(refname:lstrip=2)"},'

echo ']}'</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Choose from existing branches to run this action</string>
				<key>title</key>
				<string>Choose branch</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>896B66F8-22E8-4C75-9683-D3901F2A83C2</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:command}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>branch</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>5E3BA7EF-85F1-444C-8551-2FC551B310DE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>BRANCH</string>
				<key>replacestring</key>
				<string>{var:branch}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>64617334-1031-4256-9E88-4E615E23A39D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>command</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>ADF5C12D-136F-42F6-841F-217B506C92B6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Enter a name for the new branch</string>
				<key>text</key>
				<string>New branch name</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>659E5211-191B-450F-B829-44F4F40346C1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>ARBITRARY</string>
				<key>replacestring</key>
				<string>{var:branch}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>F306BF25-A990-4F61-AB8E-6F1BC2805F13</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:command}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>branch</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>337999AF-B0C1-484B-B1DA-42062BD8D7DD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>command</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>4D9B4FCC-5787-468A-BC8F-8B860409B222</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>jumpto</key>
				<string>_popUpItemAction:</string>
				<key>path</key>
				<string>Output: {query}</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.actioninalfred</string>
			<key>uid</key>
			<string>A2C396F8-AACD-4819-99D4-B7B3F72D9ACA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>cd ./current_repository_link

PATH="$PATH:/Users/paul/var/env/bin"

git {query} 2&gt;&amp;1

code=$?

if [[ $code != 0 ]]; then
    echo -n "(Exit code $code)"
fi</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>98D8843E-A993-4EB3-9E3F-283EBBAC1123</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"Pullr","arg":"pullr"},{"title":"Goto PR","arg":"pr"},{"title":"Push","arg":"push"},{"title":"Push &amp; create PR","arg":"pushpr"},{"title":"Pull other branch","arg":"pullother BRANCH"},{"title":"Pull","arg":"pull"},{"title":"Switch","arg":"switch BRANCH"},{"title":"New branch","arg":"new ARBITRARY"},{"title":"Prune all","arg":"prune-all","subtitle":"Remove local branches if remote branch was deleted"},{"title":"Abandon","arg":"abandon","subtitle":"Switch back to default branch, stashing any changes"}]</string>
				<key>keyword</key>
				<string>git</string>
				<key>matchmode</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Run git actions in main repository</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>B820C6F3-6B46-469A-B12F-EBC445821E7D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>BRANCH$</string>
						<key>outputlabel</key>
						<string>existing branch</string>
						<key>uid</key>
						<string>FC6854DD-E54B-4DDA-946E-1EE8F0CE6549</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>ARBITRARY$</string>
						<key>outputlabel</key>
						<string>arbitrary input</string>
						<key>uid</key>
						<string>0A19EEA7-4710-46C9-A41C-AA79AE703821</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>68CA3A10-7C7D-4B94-89B4-7478EE64F4E0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>Exit code [0-9]+.$</string>
						<key>outputlabel</key>
						<string>error</string>
						<key>uid</key>
						<string>5571486C-853C-4265-BE05-D49BA4BE9B28</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>003126C2-154A-4586-A86C-167C99F0AC4F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.hidealfred</string>
			<key>uid</key>
			<string>F82F84CB-3C48-4F7A-A977-69C8E13DE10E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>rm -rf ./current_repository_link
ln -s $1 ./current_repository_link</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FFED43EC-EC8E-451F-9C64-62BF8D97663F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>filetypes</key>
				<array>
					<string>public.folder</string>
				</array>
				<key>name</key>
				<string>Git: set working directory for git workflow</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>EB9563AC-39D0-4772-B158-B43DD33F351B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Runs common commands in the main git repository.

Select this repository by searching in alfred for the folder, then choosing the "Git: set working directory for git workflow" from the file actions.</string>
	<key>uidata</key>
	<dict>
		<key>003126C2-154A-4586-A86C-167C99F0AC4F</key>
		<dict>
			<key>xpos</key>
			<real>885</real>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>337999AF-B0C1-484B-B1DA-42062BD8D7DD</key>
		<dict>
			<key>xpos</key>
			<real>590</real>
			<key>ypos</key>
			<real>245</real>
		</dict>
		<key>4D9B4FCC-5787-468A-BC8F-8B860409B222</key>
		<dict>
			<key>xpos</key>
			<real>385</real>
			<key>ypos</key>
			<real>245</real>
		</dict>
		<key>5E3BA7EF-85F1-444C-8551-2FC551B310DE</key>
		<dict>
			<key>xpos</key>
			<real>590</real>
			<key>ypos</key>
			<real>125</real>
		</dict>
		<key>64617334-1031-4256-9E88-4E615E23A39D</key>
		<dict>
			<key>xpos</key>
			<real>665</real>
			<key>ypos</key>
			<real>125</real>
		</dict>
		<key>659E5211-191B-450F-B829-44F4F40346C1</key>
		<dict>
			<key>xpos</key>
			<real>440</real>
			<key>ypos</key>
			<real>215</real>
		</dict>
		<key>68CA3A10-7C7D-4B94-89B4-7478EE64F4E0</key>
		<dict>
			<key>xpos</key>
			<real>210</real>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>896B66F8-22E8-4C75-9683-D3901F2A83C2</key>
		<dict>
			<key>xpos</key>
			<real>440</real>
			<key>ypos</key>
			<real>95</real>
		</dict>
		<key>98D8843E-A993-4EB3-9E3F-283EBBAC1123</key>
		<dict>
			<key>note</key>
			<string>Runs git command</string>
			<key>xpos</key>
			<real>725</real>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>A2C396F8-AACD-4819-99D4-B7B3F72D9ACA</key>
		<dict>
			<key>xpos</key>
			<real>980</real>
			<key>ypos</key>
			<real>275</real>
		</dict>
		<key>ADF5C12D-136F-42F6-841F-217B506C92B6</key>
		<dict>
			<key>xpos</key>
			<real>365</real>
			<key>ypos</key>
			<real>125</real>
		</dict>
		<key>B820C6F3-6B46-469A-B12F-EBC445821E7D</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>295</real>
		</dict>
		<key>EB9563AC-39D0-4772-B158-B43DD33F351B</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>F306BF25-A990-4F61-AB8E-6F1BC2805F13</key>
		<dict>
			<key>xpos</key>
			<real>660</real>
			<key>ypos</key>
			<real>245</real>
		</dict>
		<key>F82F84CB-3C48-4F7A-A977-69C8E13DE10E</key>
		<dict>
			<key>xpos</key>
			<real>545</real>
			<key>ypos</key>
			<real>360</real>
		</dict>
		<key>FFED43EC-EC8E-451F-9C64-62BF8D97663F</key>
		<dict>
			<key>xpos</key>
			<real>210</real>
			<key>ypos</key>
			<real>420</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://github.com/p3l6/env/tree/master/apps/alfred</string>
</dict>
</plist>
