<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>dev.pwxn.alfred.bear</string>
	<key>connections</key>
	<dict>
		<key>0AA18188-5FB5-40C4-A464-80D6043EBADA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0DA7FAF3-88C1-40E0-8774-6E6283A22309</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0DA7FAF3-88C1-40E0-8774-6E6283A22309</key>
		<array/>
		<key>736AFDEB-0C05-4C25-AB3D-3F4D7EB91E45</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0DA7FAF3-88C1-40E0-8774-6E6283A22309</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A0E6C7CF-AA90-4B80-8C0F-BE308FB4F17E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0DA7FAF3-88C1-40E0-8774-6E6283A22309</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BA602A5B-B780-4ED6-A105-55762CF24A26</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A0E6C7CF-AA90-4B80-8C0F-BE308FB4F17E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BBFFE97A-6BA0-48EB-94E9-626FCCFF3B51</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0AA18188-5FB5-40C4-A464-80D6043EBADA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>pwxn</string>
	<key>description</key>
	<string>bear shortcuts</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Bear</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>idea</string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Jot down a quick bear note</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BA602A5B-B780-4ED6-A105-55762CF24A26</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>tags</key>
					<string>!</string>
					<key>title</key>
					<string>Idea</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>A0E6C7CF-AA90-4B80-8C0F-BE308FB4F17E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>bear://x-callback-url/create?title={var:title}&amp;tags={var:tags}&amp;open_note=no&amp;show_window=no&amp;text={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>0DA7FAF3-88C1-40E0-8774-6E6283A22309</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<true/>
				<key>name</key>
				<string>Bear note (new)</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>BBFFE97A-6BA0-48EB-94E9-626FCCFF3B51</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>tags</key>
					<string>!</string>
					<key>title</key>
					<string>Text Snippet</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>0AA18188-5FB5-40C4-A464-80D6043EBADA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>newbearnote</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>736AFDEB-0C05-4C25-AB3D-3F4D7EB91E45</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0AA18188-5FB5-40C4-A464-80D6043EBADA</key>
		<dict>
			<key>xpos</key>
			<integer>325</integer>
			<key>ypos</key>
			<integer>275</integer>
		</dict>
		<key>0DA7FAF3-88C1-40E0-8774-6E6283A22309</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>736AFDEB-0C05-4C25-AB3D-3F4D7EB91E45</key>
		<dict>
			<key>xpos</key>
			<integer>130</integer>
			<key>ypos</key>
			<integer>375</integer>
		</dict>
		<key>A0E6C7CF-AA90-4B80-8C0F-BE308FB4F17E</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>145</integer>
		</dict>
		<key>BA602A5B-B780-4ED6-A105-55762CF24A26</key>
		<dict>
			<key>xpos</key>
			<integer>125</integer>
			<key>ypos</key>
			<integer>115</integer>
		</dict>
		<key>BBFFE97A-6BA0-48EB-94E9-626FCCFF3B51</key>
		<dict>
			<key>xpos</key>
			<integer>125</integer>
			<key>ypos</key>
			<integer>245</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/pwxn/env/tree/master/apps/alfred</string>
</dict>
</plist>
