ref/*.local.md
ref/www/

do/newLinux
do/cleanLogs

dot/apps/UserData/IB Support/Simulator Devices
dot/apps/UserData/*.xcuserstate
dot/apps/UserData/Debugger/
dot/apps/UserData/SearchScopes.xcsclist
dot/apps/UserData/IDENamedTabStateContexts.plist
dot/apps/UserData/IDEFindNavigatorScopes.plist
dot/apps/UserData/IDEEditorInteractivityHistory
#dot/UserData/FontAndColorThemes/
