<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>152136A0-C256-428E-A269-216B3D41651B</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>mc</string>
			<key>text</key>
			<string>minecraft wiki page</string>
			<key>url</key>
			<string>https://minecraft.wiki/w/{query}</string>
		</dict>
		<key>62A0F2E4-096C-4A7D-8EA5-6190FABD970A</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>mcs</string>
			<key>text</key>
			<string>Minecraft wiki search</string>
			<key>url</key>
			<string>https://minecraft.wiki/w/Special:Search?search={query}</string>
		</dict>
		<key>922DCB19-2DD3-4FCA-9623-DD519E6FD27B</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>stack</string>
			<key>text</key>
			<string>Search stackoverflow.com for '{query}'</string>
			<key>url</key>
			<string>https://stackoverflow.com/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>FE322EDB-9805-4E09-8AEE-A8C20BA9F452</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>you</string>
			<key>spaces</key>
			<string>+</string>
			<key>text</key>
			<string>Search You.com for '{query}'</string>
			<key>url</key>
			<string>https://you.com/search?q={query}&amp;tbm=youcode</string>
		</dict>
	</dict>
	<key>onlyShowEnabledInPrefs</key>
	<true/>
</dict>
</plist>
