<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>dev.p3l6.alfred.logbooks</string>
	<key>category</key>
	<string>Committed</string>
	<key>connections</key>
	<dict>
		<key>49F37ACD-6B31-41AB-8E47-C6D291E09C8A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6B3C505D-010A-451F-BF31-69EF0B5AF70F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>684AAAAE-A3D5-4D2B-8A51-5B33BB4155B1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FE701113-0348-4C57-98D0-B067961A98C7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FE701113-0348-4C57-98D0-B067961A98C7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>49F37ACD-6B31-41AB-8E47-C6D291E09C8A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Paul Landers</string>
	<key>description</key>
	<string>Workflows for managing logbook notes</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Logbooks</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>adduuid</key>
				<false/>
				<key>allowemptyfiles</key>
				<true/>
				<key>createintermediatefolders</key>
				<false/>
				<key>filename</key>
				<string>{query}</string>
				<key>filetext</key>
				<string>## </string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>relativepathmode</key>
				<integer>0</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.writefile</string>
			<key>uid</key>
			<string>49F37ACD-6B31-41AB-8E47-C6D291E09C8A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>today</string>
				<key>subtext</key>
				<string>And open in vscode</string>
				<key>text</key>
				<string>Create today's note</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>684AAAAE-A3D5-4D2B-8A51-5B33BB4155B1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/Applications/MarkEdit.app</string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>6B3C505D-010A-451F-BF31-69EF0B5AF70F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>/Users/paul/var/logbook/{date:yyyy/MM/yyyy-MM-DD}.md</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>FE701113-0348-4C57-98D0-B067961A98C7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>To work around committing variables to a git repo, instead of defining variables here, place the following variables in a single line separated by commas in a file called `variables.txt` in this workspace folder:

Jira prefix url, ie https://something.atlassian.net/browse/
Jira projects, space separated, ie BUG ABC FOO
Pull request url, ie https://github.com/team/repo/pull/
Slack team id
Slack channel id for standups</string>
	<key>uidata</key>
	<dict>
		<key>49F37ACD-6B31-41AB-8E47-C6D291E09C8A</key>
		<dict>
			<key>xpos</key>
			<real>290</real>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>684AAAAE-A3D5-4D2B-8A51-5B33BB4155B1</key>
		<dict>
			<key>xpos</key>
			<real>40</real>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>6B3C505D-010A-451F-BF31-69EF0B5AF70F</key>
		<dict>
			<key>xpos</key>
			<real>445</real>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>FE701113-0348-4C57-98D0-B067961A98C7</key>
		<dict>
			<key>xpos</key>
			<real>220</real>
			<key>ypos</key>
			<real>90</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://github.com/p3l6/env/tree/master/apps/alfred</string>
</dict>
</plist>
