IB Support/Simulator Devices
*.xcuserstate
Debugger/
SearchScopes.xcsclist
IDENamedTabStateContexts.plist
IDEFindNavigatorScopes.plist
IDEEditorInteractivityHistory
FontAndColorThemes/
TestReport.xcstate
