<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DHCheatRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>Python_Debugger</key>
			<dict>
				<key>date</key>
				<date>2024-09-02T17:24:15Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Python Debugger</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Python_Debugger</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHClojureRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHDartRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHGitHubRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHGoRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHHaskellRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHHexRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHJavaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHPhpRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHRubyRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHScalaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHStackOverflowRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHSwiftRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>https://github.com/auth0/Auth0.swift</key>
			<dict>
				<key>date</key>
				<date>2024-09-02T17:26:25Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>auth0/Auth0.swift</string>
					<key>platform</key>
					<string>docc</string>
					<key>uniqueIdentifier</key>
					<string>https://github.com/auth0/Auth0.swift</string>
				</dict>
			</dict>
			<key>https://github.com/getsentry/sentry-cocoa</key>
			<dict>
				<key>date</key>
				<date>2024-09-13T13:30:40Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>getsentry/sentry-cocoa</string>
					<key>platform</key>
					<string>docc</string>
					<key>uniqueIdentifier</key>
					<string>https://github.com/getsentry/sentry-cocoa</string>
				</dict>
			</dict>
			<key>https://github.com/mixpanel/mixpanel-swift</key>
			<dict>
				<key>date</key>
				<date>2024-09-02T17:26:14Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>mixpanel/mixpanel-swift</string>
					<key>platform</key>
					<string>docc</string>
					<key>uniqueIdentifier</key>
					<string>https://github.com/mixpanel/mixpanel-swift</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHUserRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>Deno</key>
			<dict>
				<key>date</key>
				<date>2024-09-02T17:24:15Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>Deno API</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Deno#readme</string>
					<key>authorLinkText</key>
					<string>Yuto Oguchi</string>
					<key>name</key>
					<string>Deno</string>
					<key>platform</key>
					<string>usercontribDeno</string>
					<key>uniqueIdentifier</key>
					<string>Deno</string>
				</dict>
			</dict>
			<key>React_Native</key>
			<dict>
				<key>date</key>
				<date>2024-09-02T17:24:15Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>React</string>
						<string>ReactNative</string>
						<string>Facebook</string>
						<string>JavaScript</string>
						<string>Reactjs</string>
						<string>UI</string>
						<string>iOS</string>
						<string>Android</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/React_Native#readme</string>
					<key>authorLinkText</key>
					<string>mnmaraes</string>
					<key>name</key>
					<string>React Native</string>
					<key>platform</key>
					<string>usercontribReact_Native</string>
					<key>uniqueIdentifier</key>
					<string>React_Native</string>
				</dict>
			</dict>
			<key>Zsh</key>
			<dict>
				<key>date</key>
				<date>2024-09-02T17:24:15Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Zsh#readme</string>
					<key>authorLinkText</key>
					<string>bosr</string>
					<key>name</key>
					<string>Zsh</string>
					<key>platform</key>
					<string>usercontribZsh</string>
					<key>uniqueIdentifier</key>
					<string>Zsh</string>
				</dict>
			</dict>
			<key>mypy</key>
			<dict>
				<key>date</key>
				<date>2024-09-02T17:24:15Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>mypy</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/mypy#readme</string>
					<key>authorLinkText</key>
					<string>NeuroForLunch</string>
					<key>name</key>
					<string>mypy</string>
					<key>platform</key>
					<string>usercontribmypy</string>
					<key>uniqueIdentifier</key>
					<string>mypy</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>bookmarks</key>
	<array>
		<dict>
			<key>path</key>
			<string>https://developer.apple.com/library/archive/documentation/General/Conceptual/ExtensibilityPG/Finder.html#//apple_ref/doc/uid/TP40014214-CH15</string>
			<key>platformImagePath</key>
			<string>Web</string>
			<key>title</key>
			<string>App Extension Programming Guide: Finder Sync</string>
		</dict>
		<dict>
			<key>path</key>
			<string>https://explainshell.com/</string>
			<key>platformImagePath</key>
			<string>Web</string>
			<key>title</key>
			<string>explainshell.com - match command-line arguments to their help text</string>
		</dict>
	</array>
	<key>dateFormat</key>
	<string>dd MMM yyyy</string>
	<key>docsets</key>
	<dict>
		<key>keywords</key>
		<dict>
			<key>~/Library/Application Support/Dash/DocSets/JavaScript/JavaScript.docset</key>
			<string>js:</string>
			<key>~/Library/Application Support/Dash/DocSets/Man_Pages/Man Pages.docset</key>
			<string>man:</string>
			<key>~/Library/Application Support/Dash/DocSets/Markdown/Markdown.docset</key>
			<string>md:</string>
			<key>~/Library/Application Support/Dash/DocSets/Python_3/Python 3.docset</key>
			<string>py:</string>
			<key>~/Library/Application Support/Dash/DocSets/TypeScript/TypeScript.docset</key>
			<string>ts:</string>
		</dict>
	</dict>
	<key>feeds</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>http://kapeli.com/feeds/Apple_API_Reference.xml</key>
			<dict>
				<key>date</key>
				<date>2024-09-02T17:24:22Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Bash.xml</key>
			<dict>
				<key>date</key>
				<date>2024-09-02T17:24:22Z</date>
			</dict>
			<key>http://kapeli.com/feeds/CSS.xml</key>
			<dict>
				<key>date</key>
				<date>2024-09-02T17:24:20Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Django.xml</key>
			<dict>
				<key>date</key>
				<date>2024-09-02T17:24:18Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Docker.xml</key>
			<dict>
				<key>date</key>
				<date>2024-09-02T17:24:23Z</date>
			</dict>
			<key>http://kapeli.com/feeds/HTML.xml</key>
			<dict>
				<key>date</key>
				<date>2024-09-02T17:24:22Z</date>
			</dict>
			<key>http://kapeli.com/feeds/JavaScript.xml</key>
			<dict>
				<key>date</key>
				<date>2024-09-02T17:24:28Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Jekyll.xml</key>
			<dict>
				<key>date</key>
				<date>2024-09-02T17:24:24Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Jinja.xml</key>
			<dict>
				<key>date</key>
				<date>2024-09-02T17:24:23Z</date>
			</dict>
			<key>http://kapeli.com/feeds/LaTeX.xml</key>
			<dict>
				<key>date</key>
				<date>2024-09-02T17:24:22Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Man_Pages.xml</key>
			<dict>
				<key>date</key>
				<date>2024-09-02T17:24:29Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Markdown.xml</key>
			<dict>
				<key>date</key>
				<date>2024-09-02T17:24:25Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Nginx.xml</key>
			<dict>
				<key>date</key>
				<date>2024-09-02T17:24:26Z</date>
			</dict>
			<key>http://kapeli.com/feeds/NodeJS.xml</key>
			<dict>
				<key>date</key>
				<date>2024-09-02T17:24:25Z</date>
			</dict>
			<key>http://kapeli.com/feeds/PostgreSQL.xml</key>
			<dict>
				<key>date</key>
				<date>2024-09-02T17:24:26Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Python_3.xml</key>
			<dict>
				<key>date</key>
				<date>2024-09-02T17:24:30Z</date>
			</dict>
			<key>http://kapeli.com/feeds/React.xml</key>
			<dict>
				<key>date</key>
				<date>2024-09-02T17:24:27Z</date>
			</dict>
			<key>http://kapeli.com/feeds/SQLAlchemy.xml</key>
			<dict>
				<key>date</key>
				<date>2024-09-02T17:24:27Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Sass.xml</key>
			<dict>
				<key>date</key>
				<date>2024-09-02T17:24:29Z</date>
			</dict>
			<key>http://kapeli.com/feeds/TypeScript.xml</key>
			<dict>
				<key>date</key>
				<date>2024-09-02T17:24:30Z</date>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict>
			<key>http://kapeli.com/feeds/HTTP.xml</key>
			<dict>
				<key>date</key>
				<date>2023-09-05T14:29:19Z</date>
			</dict>
		</dict>
	</dict>
	<key>isPinned</key>
	<true/>
	<key>menuIconBehavior</key>
	<integer>1</integer>
	<key>placeholderDelimiter</key>
	<string>__</string>
	<key>profiles</key>
	<array>
		<dict>
			<key>isDefault</key>
			<true/>
			<key>name</key>
			<string>Default</string>
			<key>searchSnippets</key>
			<false/>
			<key>triggers</key>
			<array>
				<dict>
					<key>description</key>
					<string>"all:" is typed in the main search field</string>
					<key>image</key>
					<string>searchKeywordIcon</string>
					<key>isKeywordTrigger</key>
					<true/>
					<key>keyword</key>
					<string>all:</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>docsets</key>
			<array>
				<string>~/Library/Application Support/Dash/DocSets/TypeScript/TypeScript.docset</string>
				<string>~/Library/Application Support/Dash/DocSets/JavaScript/JavaScript.docset</string>
				<string>~/Library/Application Support/Dash/User Contributed/Deno/deno.docset</string>
				<string>~/Library/Application Support/Dash/DocSets/React/React.docset</string>
				<string>~/Library/Application Support/Dash/DocSets/HTML/HTML.docset</string>
				<string>~/Library/Application Support/Dash/DocSets/CSS/CSS.docset</string>
				<string>~/Library/Application Support/Dash/DocSets/Sass/Sass.docset</string>
				<string>~/var/reference/snippets/Snippets.docset</string>
			</array>
			<key>name</key>
			<string>Web</string>
			<key>placeholder</key>
			<string>ts, js, deno, react, html, css</string>
			<key>searchSnippets</key>
			<false/>
			<key>triggers</key>
			<array>
				<dict>
					<key>description</key>
					<string>"web:" is typed in the main search field</string>
					<key>image</key>
					<string>searchKeywordIcon</string>
					<key>isKeywordTrigger</key>
					<true/>
					<key>keyword</key>
					<string>web:</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>docsets</key>
			<array>
				<string>~/Library/Application Support/Dash/DocSets/Apple_API_Reference/Apple_API_Reference.docset</string>
				<string>~/Library/Application Support/Dash/DocSets/HTTP/HTTP.docset</string>
				<string>~/Library/Application Support/Dash/Swift DocSets/mixpanelmixpanelswift/Mixpanel.doccarchive/Mixpanel.docset</string>
				<string>~/Library/Application Support/Dash/Swift DocSets/getsentrysentrycocoa/SentryPrivate.doccarchive/SentryPrivate.docset</string>
				<string>~/Library/Application Support/Dash/Swift DocSets/getsentrysentrycocoa/SentrySwiftUI.doccarchive/SentrySwiftUI.docset</string>
				<string>~/Library/Application Support/Dash/Swift DocSets/auth0Auth0swift/Auth0.doccarchive/Auth0.docset</string>
				<string>~/var/reference/snippets/Snippets.docset</string>
			</array>
			<key>name</key>
			<string>Mac</string>
			<key>searchSnippets</key>
			<false/>
			<key>triggers</key>
			<array>
				<dict>
					<key>description</key>
					<string>"mac:" is typed in the main search field</string>
					<key>image</key>
					<string>searchKeywordIcon</string>
					<key>isKeywordTrigger</key>
					<true/>
					<key>keyword</key>
					<string>mac:</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>searchAndFocusKey</key>
	<dict>
		<key>keyCode</key>
		<integer>49</integer>
		<key>modifiers</key>
		<integer>2048</integer>
	</dict>
	<key>searchKey</key>
	<dict>
		<key>keyCode</key>
		<integer>-1</integer>
		<key>modifiers</key>
		<integer>0</integer>
	</dict>
	<key>searchUsingSelectedTextKey</key>
	<dict>
		<key>keyCode</key>
		<integer>-1</integer>
		<key>modifiers</key>
		<integer>8395520</integer>
	</dict>
	<key>shouldRestoreTabs</key>
	<false/>
	<key>shouldShowStatusIcon</key>
	<false/>
	<key>shouldStartAtLogin</key>
	<true/>
	<key>shouldSyncBookmarks</key>
	<true/>
	<key>shouldSyncDocsets</key>
	<true/>
	<key>shouldSyncGeneral</key>
	<true/>
	<key>showInDock</key>
	<true/>
	<key>versionedDHCheatRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHClojureRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHDartRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHGitHubRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHGoRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHHaskellRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHHexRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHJavaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHPhpRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHRubyRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHScalaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHStackOverflowRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHUserRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedFeeds</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>http://kapeli.com/feeds/Docker.xml</key>
			<dict>
				<key>19.03.4</key>
				<dict>
					<key>date</key>
					<date>2019-10-23T18:52:01Z</date>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>webSearches</key>
	<array>
		<dict>
			<key>iconName</key>
			<string>Google</string>
			<key>isDefault</key>
			<true/>
			<key>isEnabled</key>
			<true/>
			<key>name</key>
			<string>Google</string>
			<key>url</key>
			<string>https://www.google.com/search?q={query}</string>
		</dict>
		<dict>
			<key>iconName</key>
			<string>DuckDuckGo</string>
			<key>isDefault</key>
			<true/>
			<key>isEnabled</key>
			<false/>
			<key>name</key>
			<string>DuckDuckGo</string>
			<key>url</key>
			<string>https://duckduckgo.com/?q={query}&amp;ia=web</string>
		</dict>
		<dict>
			<key>iconName</key>
			<string>Stack Overflow</string>
			<key>isDefault</key>
			<true/>
			<key>isEnabled</key>
			<true/>
			<key>name</key>
			<string>Stack Overflow</string>
			<key>url</key>
			<string>https://stackoverflow.com/search?q={query}</string>
		</dict>
	</array>
</dict>
</plist>
