<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>dev.pwxn.alfred.universalactions.text</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>0D07E1E7-B1FA-4CB6-8161-7C26DC599E53</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>767D37DD-1601-4CA7-A214-026CD753AA62</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>122AD814-F4CB-4130-A995-2773C72183FE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2A7ECAD5-3ADE-46EF-A961-D6BB2BA934D6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2A7ECAD5-3ADE-46EF-A961-D6BB2BA934D6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CB41339B-95A6-4284-993C-118848B18C89</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>767D37DD-1601-4CA7-A214-026CD753AA62</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CB41339B-95A6-4284-993C-118848B18C89</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>89891F92-78D9-4217-A323-921C893F7C5E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CB41339B-95A6-4284-993C-118848B18C89</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8ED5C13C-43D1-4053-AAE8-F6A5286535CD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CB41339B-95A6-4284-993C-118848B18C89</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>95DFD9AA-3431-4F81-A9E3-F0469D42FF93</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D1CF8D7B-6772-4D9F-8E96-206A593AE28A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B7A83C7E-FA4B-435F-990E-AA04ABD4E426</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E8170517-FFFE-47F3-AD16-1EA1F1882C15</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CB8B5C10-1B5D-49AF-A119-FFC13A48812D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>89891F92-78D9-4217-A323-921C893F7C5E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D1CF8D7B-6772-4D9F-8E96-206A593AE28A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CB41339B-95A6-4284-993C-118848B18C89</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E8170517-FFFE-47F3-AD16-1EA1F1882C15</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CB41339B-95A6-4284-993C-118848B18C89</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F36DB581-AE45-48FC-8188-5825FFD69663</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8ED5C13C-43D1-4053-AAE8-F6A5286535CD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>pwxn</string>
	<key>description</key>
	<string>Text tranformation actions</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Universal Actions</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>import sys
import base64

query = sys.argv[1]
q_bytes = query.encode('ascii')
b64_bytes = base64.b64encode(q_bytes)
b64_message = b64_bytes.decode('ascii')

sys.stdout.write(b64_message)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2A7ECAD5-3ADE-46EF-A961-D6BB2BA934D6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Base64 Encode</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>122AD814-F4CB-4130-A995-2773C72183FE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>import sys
import base64

query = sys.argv[1]
q_bytes = query.encode('ascii')
message_bytes = base64.b64decode(q_bytes)
message = message_bytes.decode('ascii')

sys.stdout.write(message)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8ED5C13C-43D1-4053-AAE8-F6A5286535CD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Base64 Decode</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>F36DB581-AE45-48FC-8188-5825FFD69663</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>if [ -a "$1" ]; then
  # file
  md5 -q $1
else
  # text
  md5 -q -s "$1"
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>767D37DD-1601-4CA7-A214-026CD753AA62</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<true/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>MD5</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>0D07E1E7-B1FA-4CB6-8161-7C26DC599E53</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>jumpto</key>
				<string>_popUpItemAction:</string>
				<key>path</key>
				<string></string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.actioninalfred</string>
			<key>uid</key>
			<string>CB41339B-95A6-4284-993C-118848B18C89</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>import random
import sys

length = int(sys.argv[1]) if len(sys.argv) &gt; 1 else 15

lexicon = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789'

result = ''.join([random.choice(lexicon) for x in range(length)])

print(result)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D1CF8D7B-6772-4D9F-8E96-206A593AE28A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>randstr</string>
				<key>subtext</key>
				<string>optional arg: length of string</string>
				<key>text</key>
				<string>Random alphanumeric string</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>95DFD9AA-3431-4F81-A9E3-F0469D42FF93</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Trim</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>B7A83C7E-FA4B-435F-990E-AA04ABD4E426</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>E8170517-FFFE-47F3-AD16-1EA1F1882C15</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>import sys

query = sys.argv[1]
fullhex = query[1:] if query[0] == '#' else query

red =   int(fullhex[0:2], base=16)
green = int(fullhex[2:4], base=16)
blue =  int(fullhex[4:6], base=16)

print("(%d, %d, %d)" % (red, green, blue))</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>89891F92-78D9-4217-A323-921C893F7C5E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Hex to RGB</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>CB8B5C10-1B5D-49AF-A119-FFC13A48812D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0D07E1E7-B1FA-4CB6-8161-7C26DC599E53</key>
		<dict>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>265</integer>
		</dict>
		<key>122AD814-F4CB-4130-A995-2773C72183FE</key>
		<dict>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>2A7ECAD5-3ADE-46EF-A961-D6BB2BA934D6</key>
		<dict>
			<key>xpos</key>
			<integer>265</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>767D37DD-1601-4CA7-A214-026CD753AA62</key>
		<dict>
			<key>xpos</key>
			<integer>265</integer>
			<key>ypos</key>
			<integer>265</integer>
		</dict>
		<key>89891F92-78D9-4217-A323-921C893F7C5E</key>
		<dict>
			<key>xpos</key>
			<integer>265</integer>
			<key>ypos</key>
			<integer>625</integer>
		</dict>
		<key>8ED5C13C-43D1-4053-AAE8-F6A5286535CD</key>
		<dict>
			<key>xpos</key>
			<integer>265</integer>
			<key>ypos</key>
			<integer>145</integer>
		</dict>
		<key>95DFD9AA-3431-4F81-A9E3-F0469D42FF93</key>
		<dict>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>385</integer>
		</dict>
		<key>B7A83C7E-FA4B-435F-990E-AA04ABD4E426</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>505</integer>
		</dict>
		<key>CB41339B-95A6-4284-993C-118848B18C89</key>
		<dict>
			<key>xpos</key>
			<integer>745</integer>
			<key>ypos</key>
			<integer>305</integer>
		</dict>
		<key>CB8B5C10-1B5D-49AF-A119-FFC13A48812D</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>625</integer>
		</dict>
		<key>D1CF8D7B-6772-4D9F-8E96-206A593AE28A</key>
		<dict>
			<key>xpos</key>
			<integer>265</integer>
			<key>ypos</key>
			<integer>385</integer>
		</dict>
		<key>E8170517-FFFE-47F3-AD16-1EA1F1882C15</key>
		<dict>
			<key>xpos</key>
			<integer>345</integer>
			<key>ypos</key>
			<integer>535</integer>
		</dict>
		<key>F36DB581-AE45-48FC-8188-5825FFD69663</key>
		<dict>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>145</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://pwxn.dev</string>
</dict>
</plist>
